// aspect.scss
//
// Made with ❤️ by Maysara.

@use 'sass:math';

// ----------------------------------------------------------------------------
// ASPECT RATIOS
// ----------------------------------------------------------------------------
    $aspect-square: math.div(1, 1);
    $aspect-video: math.div(16, 9);
    $aspect-4-3: math.div(4, 3);
    $aspect-21-9: math.div(21, 9);
    $aspect-portrait: math.div(3, 4);
    $aspect-auto: auto;