// borders.scss
//
// Made with ❤️ by Maysara.



// ----------------------------------------------------------------------------
// Border Widths
// ----------------------------------------------------------------------------
    $bw-0: 0;
    $bw-1: 1px;
    $bw-2: 2px;
    $bw-3: 3px;
    $bw-4: 4px;
    $bw-6: 6px;
    $bw-8: 8px;

// ----------------------------------------------------------------------------
// Border Radius
// ----------------------------------------------------------------------------
    $br-none: 0;
    $br-sm: 0.125rem; // 2px
    $br-base: 0.25rem; // 4px
    $br-md: 0.375rem; // 6px
    $br-lg: 0.5rem; // 8px
    $br-xl: 0.75rem; // 12px
    $br-2xl: 1rem; // 16px
    $br-3xl: 1.5rem; // 24px
    $br-full: 9999px;
