// aspect.scss
//
// Made with ❤️ by Maysara.



// ----------------------------------------------------------------------------
// ASPECT RATIOS
// ----------------------------------------------------------------------------
    $aspect-square: 1 / 1;
    $aspect-video: 16 / 9;
    $aspect-4-3: 4 / 3;
    $aspect-21-9: 21 / 9;
    $aspect-portrait: 3 / 4;
    $aspect-auto: auto;